legend {
  font-weight: bold;
  color: #0d82ff; 
  
}
.legend{
    display: flex;
    align-items: center;
    justify-content: center;

}
.form{
    width: fit-content; 
    
}
fieldset{
    border: solid 2px;
    border-radius: 10px;
}
