@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: jost, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
    
}
.navbar{
    background-color: aqua;
    height: 60px;
    display: flex;
    
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
.navbar-container ul{
    display: flex;
    gap: 10px;
      
}
.navbar-container ul li{
    list-style: none;
      
}
.main-content{
    background-color: rgb(185, 185, 185);

}
.content{
    width:90%;
    margin: auto;
    flex-wrap: wrap;
}
.services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.services-cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 0.8rem;
    margin: 1em;
    
}
.card{
    box-shadow: 5px 5px 10px rgb(91, 91, 91);
    border-radius: 10px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
   
 
}
.card-1{
    width: 100%;
    height: 200px;
    background-image: url(pakata-goh-EJMTKCZ00I0-unsplash\ \(1\).jpg);
    background-size: cover;
    border-radius: 10px;
}
.card-2{
    width: 100%;
    height: 200px;
    background-image: url(marvin-meyer-SYTO3xs06fU-unsplash.jpg);
    background-size: cover;
    border-radius: 10px;
}
.card-3{
    width: 100%;
    height: 200px;
    background-image: url(fotis-fotopoulos-6sAl6aQ4OWI-unsplash.jpg);
    background-size: cover;
    border-radius: 10px;
}
.card img{
    width: 100%;
    height: auto;
    border-radius: 10px;  
}
.card h4{
    padding: 10px;
}
.card p{
    padding: 10px;
}
.card button{
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
}
.socials-header{
    text-align: center;
    padding: 1em;
}
.socials{
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    flex-wrap: wrap;
    
}
.social-items{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    justify-content: center;
    align-items: center;
    font-size: large;
    /* min-width: 100px; */
    
}
label{
    cursor: pointer;
}

